// @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
@import url(https://fonts.bunny.net/css?family=dekko:400|dongle:300,400,700|audiowide:400);

$base-color: #6d3359;
$secondary-color: #420;
$third-color: #696;

// $base-font: 'Comic Neue', cursive;
$base-font: 'Audiowide', display;
// $base-font: 'Dongle', sans-serif;
// $base-font: 'Dekko', handwriting;