@import './mixins';

.post_block {
  margin-bottom: 5rem;
  color: black;
  filter: drop-shadow(0 0 .25rem white);
  text-align: center;

  .title {
    @include trapezoid(5rem, 6.25rem, -96%, -7.5rem, $silver);
  }

  .post_content {
    position: relative;
    background: $whiteish;
    padding: 2rem;
    text-align: left;
    border-top: 0.25rem solid $silver;
    z-index: -2;
  }
}

.player_block {
  margin-bottom: 5rem;
  color: black;
  filter: drop-shadow(0 0 .25rem white);
  text-align: center;

  .IGN {
    @include trapezoid(5rem, 6.25rem, -77%, -7.5rem, $silver);
  }
}
