@import './mixins';

footer {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
    height: 50px;
    background: $whiteish;
    position: sticky;
    bottom: 0;
    z-index: 10;
    border-top: $purple 6px solid;
    box-shadow: 0 0 5px $purple;
  }
}
