
#welcome {
  display: flex;
  position: relative;
  animation: slideIn 1s ease-out;
  justify-content: center;
  margin: 4rem;
}

#welcome::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 50%;
  height: 4px;
  background: $purple;
  transform: skewX(-20deg) translate(50%);
  transform-origin: left;
  box-shadow: 0 0 10px #a44fff;
}

.tournaments-article {
  h2 {
    @include trapezoid(5rem, 4.25rem, -95%, -94%, -7.5rem, -7.85rem, $silver, 0deg, $purple);
    margin: 3rem 2rem;
    margin-bottom: 0;
    margin-bottom: -1px;
    text-shadow: 0 0 10px black;
    z-index: 1;
  }

  p {
    background: $purple;
    text-shadow: 0 0 10px black;
    padding: 2rem;
    border-top: $silver 4px solid;
    border-bottom: $silver 4px solid;
    box-shadow: 0 0 5px $silver;
    margin-top: 0;
    margin-top: -1px;

    @media screen and (min-width: 1024px) {
      margin-top: 1px;
    }
  }
}

.live-article {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: right;

  h2 {
    @include trapezoid(5rem, 4.25rem, -95%, -94%, -7.5rem, -7.85rem, $silver, 0deg, $purple);
    text-shadow: 0 0 10px black;
    width: fit-content;
    align-self: end;
    margin-right: 2rem;
    margin-bottom: 0;
    z-index: 1;
    box-shadow: 0 0 5px $silver;
  }

  p {
    background: $purple;
    text-shadow: 0 0 10px black;
    padding: 2rem;
    border-top: $silver 4px solid;
    border-bottom: $silver 4px solid;
    box-shadow: 0 0 5px $silver;
  }
}