@import "reset";
@import "variables";
@import "header";
@import "transition";
@import "blog";
@import 'mixins';

#{headings(1, 3)} {
  font-family: $header-font;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  @media screen and (min-width: 1024px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;
  @media screen and (min-width: 1024px) {
    font-size: 2rem;
  }
}

p {
  font-size: 1.5rem;
  @media screen and (min-width: 1024px) {
    font-size: 2rem;
  }
}

body {
  background: $darkest;
  font-family: $base-font;
  font-size: 24px;
  color: $whiteish;
}

.box {
  border: 5px solid black;
}