
@mixin trapezoid($border-width, $border-bottom-width, $transform-y-over, $transform-y-under, $offset-after, $offset-before, $borderColor, $rotation, $backgroundColor) {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 100%;
    transition: all 0.7s ease;
    z-index: -1;
  }

  &::after {
    left: $offset-after;
    right: $offset-after;
    height: 1.5rem;
    transform: translate(0, $transform-y-over) rotate($rotation);
    border: $border-width - 0.25rem solid transparent;
    border-top: none;
    border-bottom: $border-bottom-width - 0.25rem solid $backgroundColor;
  }

  &::before {
    left: $offset-before;
    right: $offset-before;
    height: 0;
    transform: translate(0, $transform-y-under) rotate($rotation);
    border: $border-width solid transparent;
    border-top: none;
    border-bottom: $border-bottom-width solid $borderColor;
  }
}