
.player_block {
  margin-bottom: 5rem;
  color: black;
  filter: drop-shadow(0 0 .25rem white);
  text-align: center;

  .IGN {
    @include trapezoid(5rem, 6.25rem, -79%, -77%, -7.5rem, $silver, 0deg, $whiteish);
  }

  .player_content {
    background: $whiteish;
  }

  .carouselControls {
    @include trapezoid(5rem, 4.25rem, -68%, -87%, -5.5rem, $silver, 180deg, $whiteish);
    .carouselButtons {
      display: flex;
      
      h3 {
        padding: 0 1rem;
        padding-bottom: 4px;
        align-self: center;
      }

      button {
        cursor: pointer;
      }

      svg {
        width: 40px;
        height: 40px;
      }

      .leftChevron {
        transform: rotateY(180deg);
      }

      .leftChevron:hover {
        animation: pulseLeft 1s ease-in-out infinite;
        filter: drop-shadow(0 0 6px #6D3359);
      }

      .rightChevron:hover {
        animation: pulseRight 1s ease-in-out infinite;
        filter: drop-shadow(0 0 6px #6D3359);
      }
    }
  }
}

@keyframes pulseRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulseLeft {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  50% {
    transform: translateX(-10px) rotateY(180deg);
  }
  100% {
    transform: translateX(0) rotateY(180deg);
  }
}