
.player_block {
  margin-bottom: 5rem;
  color: black;
  filter: drop-shadow(0 0 .25rem white);
  text-align: center;

  .IGN {
    @include trapezoid(5rem, 6.25rem, -79%, -77%, -7.5rem, $silver, 0deg);
  }

  .player_content {
    background: $whiteish;
  }

  .carouselControls {
    @include trapezoid(5rem, 4.25rem, -68%, -87%, -5.5rem, $silver, 180deg);
    .carouselButtons {
      display: flex;
      
      h3 {
        padding: 0 2rem;
      }

      button {
        background: #fab;
        cursor: pointer;
      }
    }
  }
}

.playerCarouselButtons {
  .carouselButtons {
    display: flex;
    justify-content: space-between;
    color: #EBEBEB;
    h2 {
      padding: 0 2rem;
    }
    .leftPlayerCarouselButton {
      cursor: pointer;
      @include trapezoid(5rem, 4.25rem, -68%, -87%, -5.5rem, $silver, 180deg);
    }
    .rightPlayerCarouselButton {
      cursor: pointer;
      @include trapezoid(5rem, 4.25rem, -68%, -87%, -5.5rem, $silver, 180deg);
    }
  }
}